.banner{
    position: relative;
    background: url(/assets/img/home/banes.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;  
}


