<app-menu-admin></app-menu-admin>
<br>
<br>
<div  class="container aea" style="margin: auto;">
    <h2>Usuarios</h2>
    <button type="button" class="btn btn-success" >Agregar nuevo Usuario</button>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>precios</th>
          <th></th>
          <th></th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button type="button" class="btn btn-primary"><ion-icon name="pencil-outline"></ion-icon>Editar</button>
            <button type="button" class="btn btn-danger" style="margin-left: 10px;"><ion-icon name="trash-outline"></ion-icon>Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>

