<app-menu-cliente></app-menu-cliente>
<section>
    <h2>ANTECEDENTES DE LA EMPRESA</h2>
    <br>
    <p>
        El restaurante Pollería Ñaños Chicken, nace en los años 90’, a consecuencia de un fracaso. Todo inició con un restaurante llamado “El Dorado “donde los dueños del ahora llamado restaurante Ñaños eran trabajadores, y cumplían lo que se les ordenaba, por lo que el jefe de estos, les ordenó que agregan ingredientes a la receta del pollo a la brasa (cambiar la receta), para que los clientes consuman más bebidas.
        Esto ocasionó que el restaurante no tenga utilidades en la primera semana de apertura, lo que provocó una gran desmotivación en el dueño en ese entonces el señor Alejandro Berrocal Raymundez, optando por abandonar el restaurante pollería, y dejándole el cargo absoluto al señor Ricardo Berrocal Aquí (actual fundador y dueño de los restaurantes Ñaños).
    </p>
    <img src="assets/img/nosotros/imagen de la empresa.png" alt="" class="img-responsive">
    <img src="assets/img/nosotros/imagen de la empresa2.png" alt="" class="img-responsive">
    <br>
    <h2>Visión</h2>
    <p>
        Ñaños Chicken es un negocio local encargado de servir a sus mas exquisitos comensales,con excelente sabor del pollo a la brasa que nos caracteriza. Engreirlos con sus diversos platos criollos.
    </p>
    <br>
    <h2>Misión</h2>
    <p>
        Satisfacer las necesidades gastronómicas de nuestros clientes, ofreciendo alimentos y servicios de buena calidad, donde se sobre pasen las expectativas, en un ambiente agradable a la vista de nuestros clientes.
    </p>
  
</section>
<app-footer-cliente></app-footer-cliente>
