<app-menu-cliente></app-menu-cliente>
<div class="contenedor-carta">
    
    <div class="contenedor-platillo" *ngFor="let carta of data">
        <h3>{{carta.nombrePlatillo}}</h3>
        <img src={{carta.imageRuta}} alt={{carta.nombrePlatillo}}>
        <p class="precio">S/. {{carta.precio}}</p>
        <p class="descripcion">{{carta.descripcion}}</p>
        <button class="carrito" (click)="agragarAlCarrito(carta)">Añadir Al Carrito</button>
        <button class="comprar">Comprar</button>
    </div>

</div>


<app-footer-cliente></app-footer-cliente>
