<app-menu-cliente></app-menu-cliente>
<div class="contenedor-carta">
    <div class="contenedor-platillo">
        <h3>FILETE BROASTER XL</h3>
        <img src="../../../../assets/img/carta/medio pollo.png" alt="FILETE BROASTER XL">
        <p>1 POLLO + PAPAS + CHAUFA* + ENSALADA + GASEOSA 1.5 LT + SALSAS</p>
        <button class="carrito">Añadir Al carrito</button>
        <button class="comprar">Comprar</button>
    </div>

    <div class="contenedor-platillo">
        <h3>FILETE BROASTER XL</h3>
        <img src="../../../../assets/img/carta/medio pollo.png" alt="FILETE BROASTER XL">
        <p>1 POLLO + PAPAS + CHAUFA* + ENSALADA + GASEOSA 1.5 LT + SALSAS</p>
        <button class="carrito">Añadir Al carrito</button>
        <button class="comprar">Comprar</button>
    </div>

    <div class="contenedor-platillo">
        <h3>FILETE BROASTER XL</h3>
        <img src="../../../../assets/img/carta/medio pollo.png" alt="FILETE BROASTER XL">
        <p>1 POLLO + PAPAS + CHAUFA* + ENSALADA + GASEOSA 1.5 LT + SALSAS</p>
        <button class="carrito">Añadir Al carrito</button>
        <button class="comprar">Comprar</button>
    </div>

    <div class="contenedor-platillo">
        <h3>FILETE BROASTER XL</h3>
        <img src="../../../../assets/img/carta/medio pollo.png" alt="FILETE BROASTER XL">
        <p>1 POLLO + PAPAS + CHAUFA* + ENSALADA + GASEOSA 1.5 LT + SALSAS</p>
        <button class="carrito">Añadir Al carrito</button>
        <button class="comprar">Comprar</button>
    </div>

    <div class="contenedor-platillo">
        <h3>FILETE BROASTER XL</h3>
        <img src="../../../../assets/img/carta/medio pollo.png" alt="FILETE BROASTER XL">
        <p>1 POLLO + PAPAS + CHAUFA* + ENSALADA + GASEOSA 1.5 LT + SALSAS</p>
        <button class="carrito">Añadir Al carrito</button>
        <button class="comprar">Comprar</button>
    </div>

    <div class="contenedor-platillo">
        <h3>FILETE BROASTER XL</h3>
        <img src="../../../../assets/img/carta/medio pollo.png" alt="FILETE BROASTER XL">
        <p>1 POLLO + PAPAS + CHAUFA* + ENSALADA + GASEOSA 1.5 LT + SALSAS</p>
        <button class="carrito">Añadir Al carrito</button>
        <button class="comprar">Comprar</button>
    </div>

    <div class="contenedor-platillo">
        <h3>FILETE BROASTER XL</h3>
        <img src="../../../../assets/img/carta/medio pollo.png" alt="FILETE BROASTER XL">
        <p>1 POLLO + PAPAS + CHAUFA* + ENSALADA + GASEOSA 1.5 LT + SALSAS</p>
        <button class="carrito">Añadir Al carrito</button>
        <button class="comprar">Comprar</button>
    </div>
</div>


<app-footer-cliente></app-footer-cliente>
