.container2{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-position: center;
    background-size: cover;
    position: absolute;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-box{
    position: absolute;
    width: 365px;
    height: 455px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}
.button-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px white;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 22px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
}
#elegir{
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, rgba(244, 67, 54, 0.7), rgba(248, 244, 9, 0.7));
    border-radius: 30px;
    transition: 0.8s;
}
.redes-sociales{
    margin: 30px;
    text-align: center;
}
.redes-sociales img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 9px #e0e0e0;
    cursor: pointer;
    border-radius: 40%;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.8s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 5px;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #7ec810;
    outline: none;
    background: transparent;
}
.check-box{
    margin: 10px 40px 20px ;

}
span{
    color: darkgray;
    font-size: 12px;
    right: 15px;
    left: 15px;
    bottom: 68px;
    position: absolute;
}
.submit-btn{
    width: 85%;
    padding: 10px 20px;
    cursor: pointer;
    
    display: block;
    margin: 10px 20px;
    background: linear-gradient(to right, rgba(244, 67, 54, 0.7), rgba(248, 244, 9, 0.7));
    border: 8px;
    outline: none;
    border-radius: 30px;
}
#login{
    left: 50px;
}
#registrar{
    left: 450px;
}